---
layout: default
title: Home
---

<section class="homepage">

  <div id="playlist-container" class="border-bottom"></div>

  <h4 style="margin: 30px 0 0 0; padding: 10px 0; font-size: 60px;" class="featured-category-name noselect border-bottom" id="{{ category[0] | downcase }}"><span>Featured Writing</span></h4>
  {% include blogfeatured.html %}

  <h4 style="margin: 10px 0 0 0; padding: 10px 0; font-size: 60px;" class="featured-category-name noselect border-bottom" id="{{ category[0] | downcase }}"><span>Featured Projects</span></h4>
  {% include projectfeatured.html %}
  
</section>

<script type="text/javascript" src="../assets/scripts/playlistbundle.js"></script>