<main class="blog-menu">

    <h4 class="menu-category-name border-bottom" id="{{ category[0] | downcase }}"><span>Personal</span></h4>
    <div class="post-listing border-bottom">
        <ul>
            {% for post in site.categories['Personal'] %}
            <li>
                <h5 class="menu-post-name"><a href="{{ post.url }}">{{ post.title }}</a></h5>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% for category in site.categories %}
    {% unless category contains 'Personal' or category contains 'Project' or category contains 'Literature' %}

        <h4 class="menu-category-name border-bottom" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
        <div class="post-listing border-bottom">
            {% assign pages_list = category[1]  %}
            <ul>
                {% for post in pages_list %}
                <li>
                    <h5 class="menu-post-name"><a href="{{ post.url }}">{{ post.title }}</a></h5>
                </li>
                {% endfor %}
            </ul>
            {% assign pages_list = nil %}
            {% assign group = nil %}
        </div>

    {% endunless %}
    {% endfor %}

    <h4 class="menu-category-name border-bottom" id="{{ category[0] | downcase }}"><span>Literature</span></h4>
    <div class="post-listing border-bottom">
        <ul>
            {% for post in site.categories['Literature'] %}
            <li>
                <h5 class="menu-post-name"><a href="{{ post.url }}">{{ post.title }}</a></h5>
            </li>
            {% endfor %}
        </ul>
    </div>

</main>