<div class="header-container-grid">

  <div class="item-banner grid-item">
    <div class="marquee">
      <span class="noselect" id="note"></span>
    </div>
  </div>

  <div class="item-navigation grid-item">
    <nav class="nav-bar">
      <div class="nav-element mobile-border-bottom mobile-border-right"><a href="/about">ABOUT</a></div>
      <div class="nav-element mobile-border-bottom"><a href="/blog">BLOG</a></div>
      <div class="nav-element mobile-border-right"><a href="/project">PROJECT</a></div>
      <div class="nav-element"><a href="/art">ARTWORK</a></div>
    </nav>
  </div>

  <div class="item-title grid-item">
    <div class="header-title mobile-hide">
      LAW<br>
      RENCE WANG
    </div>
    <div class="header-title mobile-show">
      RENCE WANG
    </div>
  </div>

</div>
