<div class="header-container-grid">

  <div class="item-banner grid-item">
    <!-- <div class="scroll-banner">
        <div class="banner-inner" id="note">
        </div>
    </div> -->
    <div class="marquee bgcolor-changer">
      <span class="noselect" id="note"></span>
    </div>
  </div>

  <div class="item-navigation grid-item">
    <nav class="nav-bar">
      <div class="nav-element mobile-border-bottom mobile-border-right"><a href="/">ABOUT</a></div>
      <div class="nav-element mobile-border-bottom"><a href="/blog">WRITING</a></div>
      <div class="nav-element mobile-border-right"><a href="/project">PROJECT</a></div>
      <div class="nav-element"><a href="/art/design">ARTWORK</a></div>
    </nav>
  </div>

  <div class="item-title grid-item">
    <!-- <div class="header-title mobile-hide">
      LAW<br>
      RENCE WANG
    </div>
    <div class="header-title mobile-show">
      RENCE WANG
    </div> -->
      <img class="header-title-img" src="/assets/images/title3.gif">
  </div>

</div>
