
/* Home Page ONLY */
.blog {
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto / 65% 35%;
    grid-template-areas: 
        "description blog-menu";
    grid-gap: 10px;
    overflow-x: hidden;
    background-color: $containerbg;
    @media only screen and (max-width: 1000px) {
        grid: auto / 50% 50%;
    }
    @media only screen and (max-width: 650px) {
        grid-template-columns: 100%;
    }

}
.item-blog-menu,
.item-blog-description,
.item-post-content {
    background-color: $background;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    @media only screen and (max-width: 650px) {
        height: auto;
    }
}
.item-blog-menu {
    grid-area: "blog-menu";
}
.item-blog-description {
    grid-area: "description";
    @media only screen and (max-width: 650px) {
        display: none;
    }
}

/* Menu ONLY */
.blog-menu, 
.blogfeatured {
    .menu-category-name {
        font-family: $projectHeaderFont;
            font-size: 50px;
            text-transform: uppercase;
        padding: 8px;
        line-height: 1.04em;
        @media only screen and (max-width: 650px) {
            text-align: center;
            font-size: 40px;
        }
    }
    h4 {
        margin: 0;
        padding: 0;
    }
    .menu-post-name {
        font-family: $subtitlefont;
            font-size: 28px;
            font-weight: normal;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 5px 0;
        h5 {
            margin: 0;
            padding: 5px;
        }
    }
    .mobile-featured {
        display: none;
        @media only screen and (max-width: 650px) {
            display: block;
        }
    }
}

/* Post Styling */
.post {
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto / 65% 35%;
    grid-template-areas: 
        "content blog-menu";
    grid-gap: 10px;
    overflow-x: hidden;
    background-color: $containerbg;
    @media only screen and (max-width: 1000px) {
        grid: auto / 50% 50%;
    }
    @media only screen and (max-width: 650px) {
        grid: 100% / 100%;
        grid-template-areas: 
            "content";
    }
}
.item-post-content {
    grid-area: "content";
    height: 100%;
    display: flex;
    flex-flow: column-reverse;
}
.blog-menu-mobile {
    @media only screen and (max-width: 650px) {
        display: none;
    }
}
.post-container {
    order: 2;
    width: 100%;
    flex-basis: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    .post-title {
        width: 100%;
        font-family: $projectTitleFont;
            text-transform: uppercase;
            font-size: 40px;
            text-align: right;
        padding: 10px 15px 0 10px;
        @media only screen and (max-width: 650px) {
            font-size: 33px;
        }
    }
    .post-info {
        width: 100%;
        font-family: $navigationfont;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 20px;
            text-align: right;
        margin-top: -5px;
        padding: 0 15px 5px 10px;
        @media only screen and (max-width: 650px) {
            font-size: 15px;
        }
    }
}

/* Blog Content Styling */
.post-content {
    width: 100%;
    font-family: $bodytextfont;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.3em;
        letter-spacing: 0.5px;
    padding: 0 15px 10px 10px;
    h1, h2, h3, h4, h5, h6 {
        font-family: $navigationfont;
    }
    h1, h2 {
        text-transform: uppercase;
        line-height: 1.2em;
        margin-bottom: 0;
    }
    img {
        max-width: 100%;
        max-height: 350px;
        object-fit: cover;
        border: 0;
        margin: 30px auto;
        display: block;
        width: 80%;
    }
    blockquote {
        font-style: italic;
    }
    ul, ol {
        font-family: $bodyFont;
    }
    .footnotes {
        font-size: 18px;
        color: rgb(71, 71, 71);
    }
    code {
        font-family: $monofont;
        font-size: 18px;
    }
}

/* Navigation Styling */
.post-navigation {
    order: 1;
    width: 100%;
    flex-basis: 20px;
	background-color: $background;
    z-index: 100;
    a {
        font-family: $bodytextfont;
            font-size: 15px;
        margin: 0;
        &:hover {
            color: $bodyColor;
        }
    }
    .prev {
        display: block;
        width: auto;
        float: left;
        padding-left: 5px;
    }
    .next {
        display: block;
        width: auto;
        float: right;
        text-align: right;
        padding-right: 5px;
    }
}