// Adobe: aktiv-grotesk, aktiv-grotesk-extended, zeitung-mono
@import url("https://use.typekit.net/pbz7uek.css");
@import url('https://rsms.me/inter/inter.css');

@font-face {
    font-family: "Millionaire Script";
    src: url('/assets/fonts/Millionaire-Script.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}