// Adobe: aktiv-grotesk, aktiv-grotesk-extended
@import url("https://use.typekit.net/pbz7uek.css");

@font-face {
    font-family: "Basis Grotesque Pro Black";
    src: url('/assets/fonts/Basis-Grotesque-Pro-Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Basis Grotesque Pro Black";
    src: url('/assets/fonts/Basis-Grotesque-Pro-Black-Italic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "GT America Extended Bold";
    src: url('/assets/fonts/GT-America-Extended-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "GT America Extended Bold";
    src: url('/assets/fonts/GT-America-Extended-Bold-Italic.otf') format('otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "GT America Extended Medium";
    src: url('/assets/fonts/GT-America-Extended-Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GT America Extended Medium";
    src: url('/assets/fonts/GT-America-Extended-Medium-Italic.otf') format('otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "GT America Expanded Light";
    src: url('/assets/fonts/GT-America-Expanded-Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "GT America Expanded Light";
    src: url('/assets/fonts/GT-America-Expanded-Light-Italic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "AT Surt Regular";
    src: url('/assets/fonts/AT-Surt-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AT Surt Regular";
    src: url('/assets/fonts/AT-Surt-Regular-Oblique.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "AT Surt Regular";
    src: url('../assets/fonts/ATSurtBold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AT Surt Regular";
    src: url('../assets/fonts/ATSurtBoldOblique.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "AT Surt Regular";
    src: url('../assets/fonts/ATSurtMedium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "AT Surt Regular";
    src: url('../assets/fonts/ATSurtMediumOblique.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Millionaire Script";
    src: url('../assets/fonts/Millionaire-Script.otf');
    font-weight: 300;
    font-style: normal;
}