$background: 	#f2f2f2;
$bodyColor: #000000;
$containerbg: #000000;
$linkhover: #cc1100;

$bodyFont: "aktiv-grotesk", sans-serif;
$navigationfont: "GT America Extended Medium", sans-serif;
$headerfont: "Basis Grotesque Pro Black", sans-serif;
$marqueefont: "GT America Expanded Light", sans-serif;
$bodytextfont: "Capsule Sans Regular", "AT Surt Regular", aktiv-grotesk, sans-serif; 
$subtitlefont: "AT Surt Regular", aktiv-grotesk, sans-serif; 
$projectTitleFont: "Millionaire Script", vatican, poetica-std, serif;
$projectHeaderFont: "GT America Expanded Black", sans-serif;
$monofont: zeitung-mono, roboto, sans-serif;

::-moz-selection { color: $linkhover}
::selection { color: $linkhover; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  background: $background;
  color: $bodyColor;
  font-family: $bodyFont;
}

/* Global Styling */
a {
  text-decoration: none;
  color: $bodyColor;
  transition: all 0.3s linear;
  &:hover {
    color: $linkhover;
    cursor: help;
  }
}

/* Main Sections ONLY */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.overall {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.overall-header {
  flex-basis: 320px;
  @media only screen and (max-width: 650px) {
    flex-basis: 215px;
  }
}
.overall-content {
  height: 100%;
  flex-basis: auto;
  margin-top: 5px;
  border-top: 10px solid black;
  @media only screen and (max-width: 650px) {
    border-top: 5px solid black;
  }
}
.noscroll {
  overflow-y: hidden;
}
.yesscroll {
  overflow-y: scroll;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  p {
    font-family: $bodytextfont;
    font-size: 15px;
    margin: 0;
    padding: 2px 0;
  }
}

/* Preloader ONLY */
.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  background-color: #fff;
  z-index: 999;
}

/* Functional Classes ONLY */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}
.bgcolor-changer {
  transition: all 0.5s linear;
  &:hover {
    background-color: $linkhover;
    cursor: alias;
  }
}

/* Footer ONLY */
@keyframes footerText {
  0% { content: "love"; color: black; }
  10% { color: rgba(255, 0, 0, 0); }
  20% { content: "$$$"; color: black; }
  30% { color: rgba(255, 0, 0, 0); }
  40% { content: "time"; color: black; }
  50% { color: rgba(255, 0, 0, 0); }
  60% { content: "定境"; color: black; }
  70% { color: rgba(255, 0, 0, 0); }
  80% { content: "⌘"; color: black; }
  90% { color: rgba(255, 0, 0, 0); }
  100% { content: "举世盛名"; color: black; }
}
.footer-changer {
  &:after {
    animation: footerText 20s linear infinite alternate;
    content: "love";
    font-size: 15px;
  }
}
