$background: 	#e6e6e6;
$bodyColor: #000000;
$containerbg: #000000;
$linkhover: #cc1100;

$bodyFont: "aktiv-grotesk", sans-serif;
$navigationfont: "GT America Extended Medium", sans-serif;
$headerfont: "Basis Grotesque Pro Black", sans-serif;
$marqueefont: "GT America Expanded Light", sans-serif;
$bodytextfont: "AT Surt Regular", aktiv-grotesk, sans-serif; 
$projectTitleFont: "Millionaire Script", serif;
$projectHeaderFont: "GT America Expanded Black", sans-serif;
$monofont: zeitung-mono, roboto, sans-serif;

::-moz-selection { color: $linkhover}
::selection { color: $linkhover; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  background: $background;
  color: $bodyColor;
  font-family: $bodyFont;
}

/* Global Styling */
a {
  text-decoration: none;
  color: $bodyColor;
  transition: all 0.3s linear;
  &:hover {
    color: $linkhover;
    cursor: help;
  }
}

/* Main Sections ONLY */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.overall {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.overall-header {
  flex-basis: 320px;
  @media only screen and (max-width: 650px) {
    flex-basis: 215px;
  }
}
.overall-content {
  flex-basis: auto;
  margin-top: 5px;
  border-top: 10px solid black;
  @media only screen and (max-width: 650px) {
    border-top: 5px solid black;
  }
}
.noscroll {
  overflow-y: hidden;
}
.yesscroll {
  overflow-y: scroll;
}

/* Preloader ONLY */
.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  background-color: #fff;
}

/* Functional Classes ONLY */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}
.bgcolor-changer {
  transition: all 0.5s linear;
  &:hover {
    background-color: $linkhover;
  }
}
