/* Grid ONLY */
.header-container-grid {
  display: grid;
  grid-template-columns: 200px auto;
  // grid-template-rows: 25px 175px;
  grid-template-rows: 150px;
  grid-gap: 5px;
  background-color: $containerbg;
  border-bottom: 5px solid $containerbg;
  grid-template-areas:
    // "banner banner"
    "navigation title";
  @media only screen and (max-width: 650px) {
    // grid: 30px 70px 50px 50px / 1fr 1fr;
    grid: 70px 50px 50px / 1fr 1fr;
    border: none;
    grid-gap: 5px;
    grid-template-areas:
      // "banner banner"
      "title title"
      "navigation navigation"
      "navigation navigation";
  }
}

.grid-item {
  background-color: $background;
  overflow: hidden;
}
.item-banner {
  grid-area: banner;
}
.item-navigation {
  grid-area: navigation;
  @media only screen and (max-width: 650px) {
    height: 100px;
  }
}
.item-title {
  grid-area: title;
}

/* Navigation ONLY */
.nav-bar {
  margin: 10px;
  font-family: $navigationfont;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
  @media only screen and (max-width: 650px) {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    margin: 0;
    font-size: 30px;
  }
}
.nav-element {
  padding: 0 0 4px 0;
  @media only screen and (max-width: 650px) {
    width: 50%;
    padding-left: 5px;
    float: left;
    box-sizing: border-box;
  }
}

/* Title ONLY */
.header-title {
  max-height: 250px;
  // white-space: nowrap;
  margin-top: 10px;
  padding-left: 5px;
  font-family: $headerfont;
    font-size: 130px;
    line-height: 120px;
    font-weight: 900;
  @media only screen and (max-width: 650px) {
    height: 70px;
    padding: 0;
    margin-top: 5px;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
  }
  @media only screen and (max-width: 550px) {
    font-size: 50px;
  }
}
.header-img-container {
  height: 100%;
  float: right;
}
.header-title-img {
  height: 100%;
  width: 100%;
  @media only screen and (max-width: 650px) {
    height: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (min-width: 2000px) {
    width: 1500px;
    margin-left: auto;
    margin-right: 0;
  }
}

/* Banner ONLY */
.marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  // font-family: $marqueefont;
  font-family: $projectHeaderFont;
    font-weight: 300;
  span {
    display: inline-block;
    font-size: 20px;
    // text-transform: uppercase;
    // padding-left: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    // animation: marquee 25s linear infinite;
    @media only screen and (max-width: 650px) {
      font-size: 20px;
    }
  }
}
// @keyframes marquee {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate(-100%, 0);
//   }
// }
.scroll-banner {
  margin: 0;
  position: relative;
  overflow: auto;
  cursor: col-resize;
  user-select: none;
  .banner-inner {
    white-space: nowrap;
    display: inline-block;
    padding: 0 10px;
    font-family: $marqueefont;
      font-weight: 300;
      font-size: 40px;
      text-transform: uppercase;
    @media only screen and (max-width: 650px) {
      font-size: 20px;
      padding: 3px 10px 0 10px;
    }
  }
  &::-webkit-scrollbar {
    width: 0px; 
    /* background: transparent; */
  }
}

/* Functional Classes ONLY */
.border-bottom,
.mobile-border-bottom,
.mobile-border-top,
.border-top,
.border-right,
.mobile-border-right {
  box-sizing: border-box;
}
.border-bottom {
  border-bottom: 5px solid black;
  &:last-child {
    border-bottom: none;
  }
}
.border-top {
  border-top: 5px solid black;
}
.border-right {
  border-right: 5px solid black;
}
.mobile-show {
  display: none;
}
@media only screen and (max-width: 650px) {
  .mobile-border-bottom {
    border-bottom: 5px solid black;
  }
  .mobile-border-top {
    border-top: 5px solid black;
  }
  .mobile-border-right {
    border-right: 5px solid black;
  }
  .mobile-show {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}
