/* Grid Set Up */
.project {
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto / 73% 27%;
    grid-template-areas: 
        "projects fun-things";
    grid-gap: 2px;
    overflow-x: hidden;
    background-color: $containerbg;
    @media only screen and (max-width: 1200px) {
        grid: auto / 68% 32%;
    }
    @media only screen and (max-width: 1050px) {
        grid: auto / 65% 35%;
    }
    @media only screen and (max-width: 650px) {
        display: flex;
        flex-wrap: wrap;
        background-color: $background;
        .project-grouping {
            width: 100%;
        }
        .fun-things-grouping {
            width: 100%;
        }
    }
    .project-header {
        font-size: 80px;
        font-weight: 400;
        padding: 8px 0;
        line-height: 1.04em;
        @media only screen and (max-width: 900px) {
            font-size: 60px;
        }
        @media only screen and (max-width: 1050px) {
            font-size: 50px;
        }
    }
    .fun-things-header {
        padding: 8px 5px;
    }
}
.project-grouping,
.fun-things-grouping {
    background-color: $background;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    @media only screen and (max-width: 650px) {
        height: auto;
    }
}
.project-grouping {
    grid-area: "projects";
}
.fun-things-grouping {
    grid-area: "fun-things";
}

.readmore-links {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px auto 5px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    a {
        &:last-child {
            text-align: right;
            float: right;
        }
    }
    @media only screen and (max-width: 650px) {
        font-size: 20px;
    }
}
.archive {
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 5px;
    @media only screen and (max-width: 650px) {
        padding: 5px 0;
    }
}

/* Accordion Set Up */
.accordionPiece {
    &:not(:last-child) {
        border-bottom: 2px solid black;
    }
}
input {
	display: none;
	+ label { 
		display: block;
		position: relative;
        padding: 10px 30px 0 10px;
        font-family: $projectTitleFont;
            font-size: 40px;
            text-transform: uppercase;
        transition: color 0.3s linear;
        @media only screen and (max-width: 650px) {
            font-size: 30px;
            padding-left: 10px;
        }
        @media (hover: none) {
            &:hover {
                color: inherit;
            }
        }
	}
	+ label:after,
	+ label:before {
		position: absolute;
		background: black;
		content: '';
		transform: rotate(0deg);
		transition: 0.5s;
		top: 50%;	
	}
	+ label:after { 
        right: 10px;
        width: 20px;
        height: 2px;
        margin-top: 0px;
	}
	+ label:before { 
        right: 19px;
        height: 20px;
        width: 2px;
        margin-top: -9px;
    }
    ~ div {
        height: 1px;
        padding: 0 10px 0 0;
        overflow: hidden; 
        @media only screen and (max-width: 650px) {
            padding: 0 5px;
        }
		> * {
			opacity: 0;
			transition: 1s;
        } 
        > p {
            padding: 0;
            margin: 0;
            font-size: 20px;
            line-height: 1.25em;
        }
	}
}
input:checked {
	~ div { 
		height: auto; 
		margin-bottom: 10px;
		> * {
			opacity: 1;
			transition: 1s;
			transition-delay: 0.25s;
		}
	}
	+ label:before  {
		transform: rotate(270deg);
		transition: 0.5s;
	}
	+ label:after {
		transform: rotate(360deg);
		transition: 0.5s;
	}
}
label:hover {
    cursor: help;
    color: $linkhover;
}

/* Individual Project Pages ONLY */
.projectpage {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.projectpage-grid {
    height: 100%;
    grid-gap: 2px;
    background-color: $containerbg;
    & > div {
        background-color: $background;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    @media only screen and (max-width: 62rem) {
        height: auto;
    }
    @media only screen and (max-width: 650px) {
        grid-gap: 2px;
        background-color: $background;
    }
    .projectpost-title {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 5px 0;
        overflow: hidden;
        @media only screen and (max-width: 650px) {
            font-size: 30px;
        }
    }
    .projectpost-content {
        padding: 0 10px 0 0;
        font-size: 20px;
        overflow-y: scroll;
        @media only screen and (max-width: 650px) {
            padding: 0;
        }
    }
    .projectpost-nav {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        .projpost-nav-title {
            width: 100%;
            font-size: 40px;
            padding: 0 5px;
            @media only screen and (max-width: 650px) {
                font-size: 30px;
                padding: 0;
            }
        }
        .projpost-nav-item {
            font-size: 20px;
            text-transform: uppercase;
            padding: 5px 0 0 5px;
            @media only screen and (max-width: 650px) {
                padding: 0;
            }
        }
    }
}