
/* Grid Set Up */
.project {
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto / 73% 27%;
    grid-template-areas: 
        "projects fun-things";
    grid-gap: 10px;
    overflow-x: hidden;
    background-color: $containerbg;
    @media only screen and (max-width: 1200px) {
        grid: auto / 68% 32%;
    }
    @media only screen and (max-width: 1050px) {
        grid: auto / 60% 40%;
    }
    @media only screen and (max-width: 650px) {
        display: flex;
        flex-wrap: wrap;
        .project-grouping {
            width: 100%;
        }
        .fun-things-grouping {
            width: 100%;
        }
    }
    .project-header {
        font-family: $projectHeaderFont;
            font-size: 80px;
            text-transform: uppercase;
        padding: 8px;
        line-height: 1.04em;
        @media only screen and (max-width: 900px) {
            font-size: 60px;
        }
        @media only screen and (max-width: 1050px) {
            font-size: 50px;
        }
        @media only screen and (max-width: 650px) {
            text-align: center;
        }
    }
}
.project-grouping,
.fun-things-grouping {
    background-color: $background;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    @media only screen and (max-width: 650px) {
        height: auto;
    }
}
.project-grouping {
    grid-area: "projects";
}
.fun-things-grouping {
    grid-area: "fun-things";
}

.readmore-links {
    font-family: $projectHeaderFont;
      font-size: 30px;
      font-weight: 900;
    margin: 10px auto 5px auto;
    flex-wrap: wrap;
    width: 100%;
    a {
        width: 50%;
        &:last-child {
            text-align: right;
            float: right;
        }
    }
    @media only screen and (max-width: 650px) {
        font-size: 20px;
    }
}
.archive {
    padding: 8px 5px 0 20px;
    font-family: $projectTitleFont;
        text-transform: uppercase;
        font-size: 40px;
    @media only screen and (max-width: 650px) {
        font-size: 35px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 30px;
    }
}

/* Accordion Set Up */
input {
	display: none;
	+ label { 
		display: block;
		position: relative;
        padding: 10px 30px 0 20px;
        font-family: $projectTitleFont;
            font-size: 40px;
            text-transform: uppercase;
        @media only screen and (max-width: 650px) {
            font-size: 35px;
        }
        @media only screen and (max-width: 550px) {
            font-size: 30px;
        }
	}
	+ label:after,
	+ label:before {
		position: absolute;
		background: black;
		content: '';
		transform: rotate(0deg);
		transition: 0.5s;
		top: 50%;	
	}
	+ label:after { 
        right: 10px;
        width: 20px;
        height: 4px;
        margin-top: 0px;
	}
	+ label:before { 
        right: 18px;
        height: 20px;
        width: 4px;
        margin-top: -8px;
    }
    ~ div {
        height: 1px;
        padding: 0 10px;
		overflow: hidden; 
		> * {
			opacity: 0;
			transition: 1s;
        } 
        > p {
            padding: 0;
            margin: 0;
            font-family: $bodytextfont;
                font-size: 30px;
                line-height: 1.25em;
            @media only screen and (max-width: 650px) {
                font-size: 20px;
            }
        }
	}
}
input:checked {
	~ div { 
		height: auto; 
		margin-bottom: 10px;
		> * {
			opacity: 1;
			transition: 1s;
			transition-delay: 0.25s;
		}
	}
	+ label:before  {
		transform: rotate(270deg);
		transition: 0.5s;
	}
	+ label:after {
		transform: rotate(360deg);
		transition: 0.5s;
	}
}
label:hover {
    cursor: help;
    color: $linkhover;
}


/* Individual Project Pages ONLY */
.projectpage {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.projectpage-grid {
    height: 100%;
    grid-gap: 10px;
    background-color: $containerbg;
    & > div {
        background-color: $background;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    @media only screen and (max-width: 62rem) {
        height: auto;
    }
    @media only screen and (max-width: 650px) {
        grid-gap: 5px;
    }
    .projectpost-title {
        font-family: $projectHeaderFont;
            font-size: 40px;
            text-transform: uppercase;
        padding: 5px 10px;
        overflow: hidden;
        @media only screen and (max-width: 650px) {
            font-size: 30px;
        }
    }
    .projectpost-content {
        padding: 0 10px;
        font-family: $bodytextfont;
        font-size: 22px;
        overflow-y: scroll;
    }
    .projectpost-nav {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        .projpost-nav-title {
            width: 100%;
            font-family: $navigationfont;
                font-size: 40px;
            padding: 0 10px;
            @media only screen and (max-width: 650px) {
                font-size: 30px;
            }
        }
        .projpost-nav-item {
            font-family: $projectTitleFont;
                font-size: 20px;
                text-transform: uppercase;
                padding: 5px 10px 0 10px;
        }
    }
}