---
layout: default
title: Project
permalink: "/project"
---

<section class="project">
    <div class="project-grouping">
        <div class="project-header noselect border-bottom">Featured</div>
        {% include projectfeatured.html %} 
    </div>

    <div class="fun-things-grouping">
        <div class="fun-things-header project-header noselect border-bottom">All Projects</div>

        {% for post in site.tags.Featured %}
        {% if post.project == true %}
        <div class="archive"><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% endif %}
        {% endfor %}

        <div class="fun-things-header project-header noselect border-bottom border-top">Fun Stuff</div>
        <div class="archive"><a href="/project/inmydefense">In My Defense</a></div>
        <div class="archive"><a href="https://thoughts.rencewang.com" target="_blank">Thoughts</a></div>
        <div class="archive"><a href="/project/breathe">Breathe</a></div>
    </div>

</section>
