---
layout: default
---

<section class="post">

    <div class="item-post-content">

        <div class="post-header border-bottom">
            <div class="post-title">{{ page.title }}</div>
            <div class="post-info">
                <span>{{ page.date | date: '%b %d, %Y' }}</span>
                <span>in {{ page.category }} </span>
            </div>
        </div>
        
        <div class="post-content">
            {{ content }}
        </div>

    </div>

    <div class="item-blog-menu">
        {% include blogmenu.html %}
    </div>

</section>