---
layout: default
---

<section class="projectpage">
    <div class="projectpage-grid grid">

        <div class="projectpost-title bgcolor-changer column-xs-12"> {{ page.title }} </div>

        <div class="projectpost-content column-xs-12 column-md-9 column-lg-10"> {{ content }} </div>

        <div class="projectpost-nav column-xs-12 column-md-3 column-lg-2">

            {% assign cat = page.category %}
            {% for post in site.categories[cat] %}
                {% if post.url == page.url %}
                    {% assign post_index0 = forloop.index0 %}
                    {% assign post_index1 = forloop.index %}
                {% endif %}
            {% endfor %}

            {% for post in site.categories[cat] %}
                {% if post_index0 == forloop.index %}
                    {% assign next_post = post %}
                {% endif %}
                {% if post_index1 == forloop.index0 %}
                    {% assign prev_post = post %}
                {% endif %}
            {% endfor %}

            {% if prev_post %}
                <div class="projpost-nav-title bgcolor-changer border-bottom">PREV:</div>
                <div class="projpost-nav-item border-bottom">
                    <a href="{{ prev_post.url }}">{{ prev_post.title }}</a>
                </div>
            {% endif %}

            {% if next_post %}
                <div class="projpost-nav-title bgcolor-changer border-bottom">NEXT:</div>
                <div class="projpost-nav-item border-bottom">
                    <a href="{{ next_post.url }}">{{ next_post.title }}</a>
                </div>
            {% endif %}
        </div>

    </div>
</section>